@{ ViewData["Title"] = "About Us"; }
<head>
    <title>Drug Related Deaths</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="ab_section" style="overflow-x:auto;">
        <h1 class="about_us" align="left">Our Purpose Defines Us</h1>
        <h3><a href="https://github.com/divyangmehta96">Github Link</a></h3>
        <!-- Members details begin -->
        <div class=" flex-container about">
            <div class="member-head">
                <img class="member-img" src="~/img/divyang.jpeg">
                <h2 class="member-name">Divyang Mehta</h2>
            </div>
            <div class="member-info">
                <p class="member-para">
                    Divyang is a graduate student in the Business Analytics and Information Systems program at the University of South Florida.<br><br>Divyang was responsible for creating "<u>Home</u>", "<u>Database</u>", "<u>Visualization</u>" and "<u>About</u>" pages and stlying with CSS3. Also visualized a bar graph of monthly storm counts in 2019 using <strong>Chart.js</strong> and static database values.
                </p>
                <a class="member-button git" href="https://www.github.com/divyangmehta96/Projects">Git</a>
                <a class="member-button linkedin" href="https://www.linkedin.com/in/divyangmehta96">LinkedIn</a>
            </div>
        </div>
        <br>
        <div class=" flex-container about">
            <div class="member-head">
                <img class="member-img" src="~/img/nexon.jpeg">
                <h2 class="member-name">Nexon Samuel</h2>
            </div>
            <div class="member-info">
                <p class="member-para">Nexon Samuel is a graduate student in Business Analytics and Information System program at the University of South Florida.</p>
                <a class="member-button git" href="https://www.github.com/nexon72">Git</a>
                <a class="member-button linkedin" href="https://www.linkedin.com/in/nexon-samuel">LinkedIn</a>
            </div>
        </div>
        <!-- Members details end -->
    </div>
</body>