@{ ViewData["Title"] = "Index"; }
    <head>
        <title>Recreational Activities</title>
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    </head>
<body>
    <div class="about-data">
        <h2 class="head-two">Summary</h2>
        <p class="data">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tempor mi.
            Aenean ultricies risus vitae accumsan laoreet. Nulla facilisi. Aliquam ac justo libero.
            Sed at sem quis sem mattis mollis. Mauris feugiat lorem at facilisis elementum.
            Praesent lacinia rutrum lacus vel mattis. Curabitur eu justo enim. In vitae neque urna.
            Nulla rhoncus dui scelerisque felis euismod, et ultricies nulla malesuada. Etiam nec tellus orci.
            Nunc dui sem, mollis non felis vitae, tempor ultricies libero.
            Vestibulum mi nisi, pharetra nec posuere nec, rhoncus ut libero.
            Integer eu risus enim. Sed a cursus ipsum. Maecenas nec malesuada turpis.
        </p>
    </div>
</body>